<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.slide"
    android:versionCode="70"
    android:versionName="1.7.5">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/net_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="Instantiatable">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".ui.vip.VipMemberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.vip.VipActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.privacy.TermOfUseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.privacy.PrivacyPolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.splash.WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.about.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.select_music.search.SearchFragment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.video.video_preview.VideoCreateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.edit_image.EditImageActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.musiclibrary.showmusic.ShowMucsicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.select_image.SelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.select_music.SelectMusicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.select_music.album.AudioAlbumFragment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.select_music.folder.AudioFoldersFragment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.select_music.files.AudioFilesFragment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.video.video_export.ExportVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.video.video_share.ShareVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.invalidinstall.InvalidInstalledActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.my_studio.MyStudioActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDarkToolbarStyle" />
        <activity
            android:name=".ui.home.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <service
            android:name=".ui.video.video_export.SavingVideoService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".ui.video.video_preview.PrepareVideoService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3438626400465865~5070359708" />

        <activity
            android:name="com.facebook.ads.AudienceNetworkActivity"
            android:hardwareAccelerated="true" />
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            tools:replace="android:theme" />
        <activity android:name=".ui.more.MoreAppActivity" />

        <receiver
            android:name=".notify.NotificationReceive"
            android:enabled="true"
            android:exported="false"/>

    </application>

</manifest>